@media (max-width: 1185px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 36px;
    }


    .content_flex .content
    {
        width: calc(100% - var(--aside_width) - 30px);
    }

    .block {
        padding: 120px 0 100px;
    }
    .block_head
    {
        margin-bottom: 35px;
    }

    .block_head .title
    {
        padding-bottom: 10px;
    }


    .block_head .desc
    {
        line-height: 26px;
    }

   
    .pagination
    {
        margin-top: 40px;
    }



    .text_block
    {
        line-height: 30px;
    }

    .text_block p,
    .text_block img,
    .text_block blockquote,
    .text_block q
    {
        margin-bottom: 25px;
    }



    /*---------------
        Header
    ---------------*/
    header .info
    {
        padding: 35px 0;
    }


    header .socials a + a
    {
        margin-left: 15px;
    }


    header .contacts
    {
        

        margin-left: 35px;
    }

    header .contacts .phones > *:before
    {
        top: 9px;
    }



    header .menu .item > a,
    header .menu .flexMenu-viewMore > a
    {
        font-size: 14px;
        line-height: 16px;

        height: 50px;
        padding: 15px 35px;
    }



    /*---------------
        Sidebar
    ---------------*/



    /*---------------
        Main section
    ---------------*/
    .gallery .flex
    {
        margin-top: 50px;
    }

    .gallery .flex > *
    {
        width: calc(33.333%);
    }


    .gallery .flex.images > *
    {
    }


    .gallery .item
    {
        padding-bottom: calc(33.333%);

    }

    .gallery .item .info
    {
        padding: 18px 25px;
    }

    .gallery .item .name
    {
        line-height: 22px;
    }

    .gallery .item .desc
    {
        font-size: 14px;
        line-height: 20px;
    }



    .article_info .head
    {
        margin-bottom: 40px;
    }

    .article_info .head .info .title
    {
        font-size: 28px;
        line-height: 34px;
    }

    .article_info .head .info .date
    {
        font-size: 18px;
        line-height: 22px;
    }



    .article_info .text_block
    {
        font-size: 17px;
        line-height: 27px;
    }




    .share a + a
    {
        margin-left: 15px;
    }



    .cart_info .titles
    {
        margin-bottom: 20px;
        padding-right: 20px;
    }

    .cart_info .titles > * + *
    {
        padding-left: 20px;
    }


    .cart_info .product
    {
        padding: 20px;
    }

    .cart_info .product > * + *
    {
        padding-left: 20px;
    }

    .cart_info .product .name
    {
        font-size: 17px;

        width: 375px;
    }
    .cart_info .product .video_link {
        flex-direction: column;
    }
    .cart_info .product .video_link .product_delete {
        margin-left: 0;
    }



    .checkout_success
    {
        width: 500px;
        padding-top: 30px;
    }

    .checkout_success .title
    {
        font-size: 32px;
        line-height: 40px;

        margin-top: 5px;
    }

    .checkout_success .desc
    {
        font-size: 28px;
        line-height: 36px;

        margin-top: 10px;
    }

    .checkout_success .link
    {
        margin-top: 35px;
    }

    .product_info .buy .price
    {
        width: 50%;
    }
    .product_info .buy {
        flex-direction: column;
    }
    .product_info .buy_btns {
        margin-top: 20px;
    }
    .product_info .image
    {
        width: 360px;
        margin-right: 30px;
        padding-bottom: 350px;
    }


    .product_info .data
    {
        width: calc(100% - 390px);
    }

    .product_info .head
    {
    }

    .product_info .product_name
    {
        font-size: 30px;
        line-height: 36px;
    }

    .product_info .cat
    {
        font-size: 18px;
        line-height: 22px;

        margin-top: 5px;
    }

    .product_info .buy .btn
    {
        margin: 0;
        margin-top: 20px;
        margin-right: 100px;
    }

    .product_info .buy .back_link
    {
        margin-left: auto;
    }

    .product_info .buy .buy_link,
    .product_info .buy .order_link
    {
    }

    .product_info .desc
    {
        font-size: 16px;
        line-height: 25px;

        margin-top: 40px;
    }


    .product_info .description
    {
        font-size: 17px;
        line-height: 27px;

        margin-top: 35px;
    }

    .products .product .sticker
    {
        font-size: 14px;
        line-height: 30px;

        height: 30px;
        padding: 0 13px;
    }


    .first_section .info .title
    {
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 30px;
    }


    .first_section .cont:after{
        display: none;
    }


    .main_slider .slide .cont
    {
        min-height: 500px;
        padding-top: 50px;
        padding-bottom: 90px;
    }

    .main_slider .slide .title
    {
        font-size: 40px;
        line-height: 50px;
    }

    .main_slider .slide .desc
    {
        line-height: 26px;
    }



    .main_slider .owl-dots
    {
        bottom: 40px;
    }

    .first_section2 .info {
        width: calc(100% - 610px);
    }



    .main_slider2 .info
    {
        line-height: 28px;
    }

    .main_slider2 .info .title
    {
        font-size: 36px;
        line-height: 40px;
    }

    .main_slider2 .info .desc
    {
        margin-top: 40px;
    }

    .main_slider2 .img
    {
        margin-right: 20px;
    }



    .main_slider3 .img
    {
        width: 400px;
        height: 400px;
        margin-left: 60px;
    }


    .main_slider3 .info .title span
    {
        font-size: 30px;
        line-height: 36px;
    }
    .main_slider3 .info
    {
        line-height: 28px;

        width: 100%;
        max-width: calc(100% - 500px);
        padding-right: 60px;
    }







    .advantages .item .name
    {
        font-size: 22px;
        line-height: 26px;
    }



    .about .info
    {
        width: 100%;
        max-width: calc(100% - 540px);
    }

    .about .info .sub_title
    {
        font-size: 22px;
        line-height: 26px;

        margin-bottom: 15px;
    }

    .about .img
    {
        width: 500px;
    }



    .how_we_work .info
    {
        width: 100%;
        max-width: calc(100% - 580px);
    }

    .how_we_work .info .item .name
    {
        font-size: 22px;
        line-height: 26px;
    }

    .how_we_work .img
    {
        width: calc(50% + 450px);
    }




    .reviews .review .text
    {
        line-height: 22px;
    }




    .big_boss_quote .img
    {
        width: 500px;
    }

    .big_boss_quote .info
    {
        width: 100%;
        max-width: calc(100% - 589px);
    }

    .big_boss_quote .info .name,
    .big_boss_quote .info .post
    {
        font-size: 22px;
        line-height: 26px;
    }

    .big_boss_quote .info .text_block
    {
        line-height: 26px;

        margin-top: 20px;
    }


    .video_reviews .slider
    {
        margin-top: 40px;
    }



    .faq .item + .item
    {
        margin-top: 25px;
    }

    .faq .item .title
    {
        font-size: 22px;
        line-height: 26px;

        padding: 20px 40px 20px 40px;
    }

    .faq .item .title:after
    {
        right: 40px;
    }

    .faq .item .data
    {
        line-height: 22px;

        padding: 0 40px 35px;
    }



    .director_letter .img
    {
        width: 500px;
    }

    .director_letter .info {
        width: 100%;
        max-width: calc(100% - 500px);
    }



    .order_block .form .socials
    {
        padding: 15px;
    }

    .order_block .form .socials a + a
    {
        margin-left: 15px;
    }



    .contacts_block .info
    {
        font-size: 22px;
        line-height: 26px;

        max-width: calc(100% - 550px);
    }

    .contacts_block .info .val
    {
        font-size: 22px;
        line-height: 30px;

        margin-top: 15px;
    }

    .contacts_block .info .val:before
    {
        top: 10px;
    }



    .stocks .slider
    {
        margin-top: 40px;
    }

    .stocks .stock
    {
    }

    .stocks .stock .thumb
    {
        height: 190px;
    }

    .stocks .stock .thumb + .info
    {
        line-height: 22px;
    }

    .stocks .stock .name
    {
        font-size: 20px;
        line-height: 24px;
    }



    .team .slider
    {
        margin-top: 40px;
    }

    .team .item
    {
        
    }

    .team .item .name
    {
        font-size: 20px;
        line-height: 24px;
    }

    .team .item .post
    {

    }

    .team .item .desc
    {
        line-height: 22px;

        margin-top: 20px;
    }



    .ads_block .flex
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .ads_block .flex > *
    {
        width: calc(33.333% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .ads_block .item
    {
        border-radius: 44px;
    }

    .ads_block .item .info
    {
        padding: 30px;
    }

    .ads_block .item .desc
    {
        line-height: 20px;
    }


    .ads_block .flex > *.big
    {
        width: calc(66.666% - 30px);
    }


    .ads_block .flex > *.full .info
    {
        padding: 40px;
    }

    .ads_block .item.full .name
    {
        font-size: 28px;
    }

    .ads_block .item.full .desc
    {
        font-size: 15px;

        margin-top: 21px;
    }



    .vacancies .slider
    {
        margin-top: 40px;
    }

    .vacancies .item
    {
        padding: 30px;
    }

    .vacancies .item .name
    {
        font-size: 21px;
        line-height: 25px;
    }

    .vacancies .item .desc
    {
        line-height: 22px;

        margin-top: 20px;
    }



    .soc_block .block_head .soc_link
    {
        font-size: 22px;
        line-height: 26px;
    }



    .payment .block_head
    {
        max-width: calc(55% - 20px);
    }

    .payment .widget
    {
        max-width: calc(45% - 20px);
        padding-top: 95px;
    }



    .services .service .name
    {
        font-size: 15px;
        line-height: 21px;

        width: 100%;
    }

    .services .service .link
    {
        width: auto;
        margin-top: 20px;
    }


    .socials_block .block_head
    {
        padding-right: 35px;
    }

    .socials_block .data
    {
        padding: 35px 40px;
    }



    .about_video .info
    {
        width: 100%;
        max-width: calc(100% - 550px);
    }

    .about_video .video_link
    {
        width: 458px;
        height: 333px;
        padding-bottom: 40px;
    }
    .about_video .video_link:after {
        width: 471px;
        height: 320px;
    }


    .quiz_poll .img
    {
        width: 500px;
        height: 500px;
    }

    .quiz_poll .info
    {
        width: 100%;
        max-width: calc(100% - 540px);
    }


    .quiz_poll .step .title
    {
        font-size: 28px;
        line-height: 34px;
    }

    .quiz_poll .success .desc
    {
        font-size: 22px;
        line-height: 28px;
    }









    .news .flex > *
    {
        width: calc(33.333%);
    }

    .news .item
    {
        
    }


    #thanks .title
    {
        font-size: 32px;
        line-height: 40px;

        margin-top: 5px;
    }
    #thanks .desc
    {
        font-size: 28px;
        line-height: 36px;

        margin-top: 10px;
    }

    .contacts_block .map
    {
        width: 500px;
    }


        /*новый продукт*/

    .product_info .cart_link .count
    {
     
    }

    .product_info .data
    {
        display: flex;

        flex-wrap: wrap;
        align-items: flex-start;
    }


    .product_info .head
    {
        width: calc(100% - 100px);
    }

    .product_info .head
    {
        margin-right: 10px;
    }




    .product_info .buy
    {
        width: 100%;
    }

    .product_info .buy .price
    {
        font-size: 21px;
        line-height: 21px;

        display: flex;

        width: 100%;
        margin-bottom: 10px;

        justify-content: space-between;
        align-items: center;
    }

    .product_info .buy .back_link
    {
        margin: 0;
    }

    
    .product_info .buy .order_link
    {
        width: 100%;
    }

    .product_info .buy .btn
    {
        margin: 0;
        margin-right: auto;
        flex-grow: 1;
        width: auto;
    }

    .product_info .head{
        padding-right: 0px;
    }

    .three_photo .block_head{
        width:310px;
    }




    .block:nth-child(2n).main_slider{
        padding:0;
        margin-bottom: 60px;
    }

    .block:nth-child(2n).main_slider2, .block:nth-child(2n).main_slider, .block:nth-child(2n).main_slider3, .block:nth-child(2n).first_section{
        margin-bottom:60px;
        margin-top: 0px;
    } 



    .first_section .info {
        width: calc(100% - 480px);
        padding-top: 90px;
        padding-bottom: 130px;
    }
    .first_section .img {
        max-width: 560px;
    }

    .order_block .form .line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        margin-bottom: 0;
        background: none;
        box-shadow: none;
        border-radius: 0px;
    }


   

    .order_block .form textarea {
        width: 100%;
    }
    .order_block .form .line {
        flex-direction: column;
        padding: 0px;
    }
    .order_block .form input {
        border-right: none;
        width: 100%;
        box-shadow: 0px 11px 47px rgba(0, 0, 0, 0.185428);
        height: 100%;
        border-radius: 19px;
    }
    .order_block .form .field {
        width: 100%;
        margin-bottom: 20px;
        height: 69px;
    }
    .order_block .form textarea {
        box-shadow: 0px 11px 47px rgba(0, 0, 0, 0.185428);
        height: 100%;
    }
    .director_letter .img {
        width: 446px;
        height: 629px;
    }
    .upload {
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .upload .cont {
        padding: 25px;
    }
    .upload .block_head .desc {
        text-align: start;
    }
    .before_after .block_head {
        width: 300px;
    }

}
